{% load i18n %}

<div class="col-md-6">
	<!-- Some content -->
	<h3 class="title">{% trans "Register Today" %} <span class="color">!!!</span></h3>
	<h4 >{% trans "You will have access to all the features." %}</h4>
	<p>{% trans "This tool allows you to check the quality of your websites thanks to its crawler. The automation is the key for the efficiency thus you can find out the invisible errors without effort." %}</p>
	<h5>Principally you can do</h5>
	<ul>
		<li>{% trans "Add your websites" %}</li>
		<li>{% trans "Scan them choising the available validators" %}</li>
		<li>{% trans "Check the result of your tests" %}</li>
		<li>{% trans "Analyze the historic evolution" %}</li>
	</ul>
	{% comment %}
	<p>Nullam in est urna. In vitae adipiscing enim. In ut nulla est. Nullam in est urna. In vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non convallis dolor faucibus eget. In ut nulla est. </p>
	{% endcomment %}
</div>
