{% load i18n %}

<div class="container">
	<div class="cta">
		<div class="row">
			<div class="col-md-5 col-sm-5">
				<div class="ctas">
					<!-- Title and Para -->
					<h5>{% trans "Free usage until 3 websites!" %}</h5>
					<p>{% trans "The complete applications is for you." %}</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="ctas">
					{% comment %}
					<!-- List -->
					<ul>
						<li>Very Cheap in Market. Check it today.</li>
						<li>Professional and Powerful. Don't miss it.</li>
						<li>1000% Guanrantee. No Worries. No Probs.</li>
					</ul>
					{% endcomment %}
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="ctas">
					{% comment %}
					<!-- Button -->
					<div class="button"><a href="#">Buy it Today for $99</a></div>
					<p>limited period offer</p>
					{% endcomment %}
				</div>
			</div>
		</div>
	</div>
</div>
