{% extends 'base.html' %}

{% load i18n %}
{% load url from future %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}
	<div class="content">
		<div class="container">
			<div class="row">
				{% include "sign_lefttext.html" %}

				<!-- Login form -->
				<div class="col-md-6">
					<div class="formy well">
						<!-- Title -->
						<h4 class="title">{% trans "Login to Your Account" %}</h4>
						<div class="form">
							{% crispy form %}

							<hr />
							{% comment %}
							<!-- Social media button s-->
							<h5>Login using</h5>
							<a href="#"><img src="{% static "macbeath-frontend/img/social/facebook.png" %}" alt="" /></a><br />
							<a href="#"><img src="{% static "macbeath-frontend/img/social/twitter.png" %}" alt="" /></a><br />
							<a href="#"><img src="{% static "macbeath-frontend/img/social/linkedin.png" %}" alt="" /></a><br />
							<hr />
							{% endcomment %}

							<h5>{% trans "New Account" %}</h5>
							<!-- Register link -->
							{% trans "Don't have an Account?" %} <a href="{% url "userena_signup" %}">{% trans "Register" %}</a>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- CTA Starts -->
	{% include "sign_bottom.html" %}
	<!-- CTA Ends -->
{% endblock %}
