{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
	{% include "menu.html" %}	
	<div class="white-box">
		<div id="details">
			<div class="row">
				<div class="col-lg-9 col-lg-offset-2">
					<div class="panel">
						{% blocktrans %}
						In this space you will be able to have a control of the dips that you have done, for it, you will have to click on the button that appears in the top right hand site of each point of dip " to add to my points of dip ".
						{% endblocktrans%}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9 col-lg-offset-2">
					<div class="container search">
						<div class="row">
							<div class="col-lg-9">
								{% crispy search_location_form %}
							</div>
							<div class="col-lg-3">
								<a class="btn btn-primary" href="{% url "view_user_routes" %}" style="margin-top: -10px;"> {% trans "View_all" %}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<table class="list2" width="100%">
				<tbody>
					<tr>
						<th>Fecha</th>
						<th>Ruta</th>
					</tr>
					{% for user_routes in user_route_list %}
						<tr>
							<td> {{user_routes.date|date:"d F Y"}} </td>
							<td> <a href="{% url "view_route" user_routes.route.id %}">{{user_routes.route}} </a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
