{% load i18n %}

<div class="navbar navbar-fixed-top bs-docs-nav" role="banner">
		<div class="container">
			<!-- Menu button for smallar screens -->
			<div class="navbar-header">
				<button class="navbar-toggle btn-navbar" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
					<span>Menu</span>
				</button>
				<!-- Site name for smallar screens -->
				<a href="index.html" class="navbar-brand hidden-lg">MacBeth</a>
			</div>

			<!-- Navigation starts -->
			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
				<!-- Links -->
				<ul class="nav navbar-nav pull-right">
					<li class="dropdown pull-right">
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">
							<i class="icon-user"></i> {% trans "Admin" %} <b class="caret"></b>
						</a>
						<!-- Dropdown menu -->
						<ul class="dropdown-menu">
							<li><a href="{% url "userena_profile_edit" user.username %}"><i class="icon-user"></i> {% trans "Profile" %}</a></li>
							<li><a href="#"><i class="icon-cogs"></i> {% trans "Settings" %}</a></li>
							<li><a href="{% url "userena_signout" %}"><i class="icon-off"></i> {% trans "Logout" %} </a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>

<!-- Header starts -->
<header>
	<div class="container">
		<div class="row">
			<!-- Logo section -->
			<div class="col-md-4">
				<!-- Logo. -->
				<div class="logo">
					<h1><a href="#">Website<span class="bold">Quality</span></a></h1>
					<p class="meta">{% trans "Check And Control" %}</p>
				</div>
				<!-- Logo ends -->
			</div>
		</div>
	</div>
</header>
<!-- Header ends -->

